.App {
  text-align: center;
  background-color: #ccc;
}

.box-in{
  text-align: center;
}

.lb{
  text-align: left;
}

.box{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 5px;
  border: #555;
}

label{
  text-align: left;
  font-weight: bold;
}

#one{
  font-size: 30px;
  font-family: Arial;
  margin-bottom: 20px;
  font-weight: bolder;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: 'roboto';
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password]:focus {
  border: 3px solid #555;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {
  /* background-color: #e7e7e7; */
  color:white;
  background-color: green;
  font-weight: bold  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#small{
  font-size: 14px;
  margin-bottom: -6px;
}

h6{
  margin-top: -6px;
  margin-bottom: 10px;
}

h4{
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
